@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

$padding: 10px;
$margin: 8px;
$radius: 0.5rem;
$titleFont: 'Rubik', sans-serif;
$regularFont: 'Karla', sans-serif;
$shadow: rgba(0,0,0,0.15);
$light-shadow: rgba(0, 0, 0, 0.1);
$very-light-shadow: rgba(0,0,0,0.05);
$icon-size: 16px;

$primary-color: #5469d4;
$danger-color: #EF476F;
$secondary-color: #ffac51;
$success-color: #05d59e;
$warning-color: #FFD166;
$disabled-color: #f2f2f2;
$over-light-color: rgba(0, 0, 0, 0.5);
$heading-color: #333333;
$paragraph-color: #555555;


