body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.wrapper {
  height: 100%;
  display: grid;
  grid-gap: 0;
  grid-template-areas:
  'main'
  'footer';
  grid-template-rows:  minmax(0, 1fr) 60px;
}

main {
  grid-area: main;
  overflow: scroll;
}

footer {
  grid-area: footer;
}

/*
  Wrapper Header Content Footer 
*/

.wrapper-hcf {
  height: 100%;
  display: grid;
  grid-gap: 0;
  grid-template-areas:
  'header'
  'main'
  'footer';
  grid-template-rows:  60px minmax(0, 1fr) 60px;
  .header {
    grid-area: header;
  }
  .main {
    grid-area: main;
  }
  .footer {
    grid-area: footer;
  }
}


header, footer {
  z-index: 1000;
}

header {
  height: 60px;
  @extend .very-light-shadow;
}

main {
  overflow: scroll;
}


.container {
  padding: $padding;
  margin: $margin;
} 


.center-content {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}

.full-width {
  width: calc(100% - #{$margin * 2});
}

.full-width-in {
  width: calc(100% - #{$margin +  $padding} * 2);
}

.half-width {
  width: 50%;
}


header.toolbar {
  display: grid;
  grid-gap: 0;
  grid-template-areas:
  'left'
  'middle'
  'right';
  grid-template-columns: 60px minmax(0, 1fr) 60px;
  .left, .middle, .right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    button {
      margin: 0;
      padding: 0;
    }
  }
}

.space-evenly {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.circle {
  border-radius: 50%;
  @extend .very-light-shadow;
}