
.toolbar {
  display: grid;
  grid-gap: 0;
  grid-template-areas:
  'left'
  'middle'
  'right';
  grid-template-columns: 60px minmax(0, 1fr) 60px;
  .left, .middle, .right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    button {
      margin: 0;
      padding: 0;
    }
  }
  .left {
    grid-area: left;
  }
  .middle {
    grid-area: middle;
  }
  .right {
    grid-area: right;
  }
}