
.toolbar {
  display: grid;
  grid-gap: 0;
  grid-template-areas:
  'left'
  'middle'
  'right';
  grid-template-columns: 60px minmax(0, 1fr) 60px;
  .left {
    grid-area: left;
  }
  .middle {
    grid-area: middle;
  }
  .right {
    grid-area: right;
  }
}