@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
:root {
  --primary-color: rgb(84, 105, 212);
  --secondary-color: rgb(255, 172, 81);
  --danger-color: rgb(239, 71, 111);
  --success-color: rgb(5, 213, 158);
  --warning-color: rgb(255, 209, 102);
  --disabled-color: #f2f2f2;
  --over-light-color: rgba(0, 0, 0, 0.5);
  --heading-color: #333333;
  --paragraph-color: #555555;
  --white-color: #fff;
  --light-gray: #eee;
  --card-color: #fff;
  --primary-color-transparent-05: rgba(84, 105, 212, 0.5);
  --primary-color-transparent-01: rgba(84, 105, 212, 0.1);
  --secondary-color-transparent-05: rgba(255, 172, 81, 0.5);
  --secondary-color-transparent-01: rgba(255, 172, 81, 0.1);
  --danger-color-transparent-05: rgba(239, 71, 111, 0.5);
  --danger-color-transparent-01: rgba(239, 71, 111, 0.1);
  --success-color-transparent-05: rgba(5, 213, 158, 0.5);
  --success-color-transparent-01: rgba(5, 213, 158, 0.1);
}

/* COLORS HELPERS */
.primary-bg, .primary-btn {
  background-color: var(--primary-color);
}

.secondary-bg, .secondary-btn {
  background-color: var(--secondary-color);
}

.success-bg, .success-btn {
  background-color: var(--success-color);
}

.danger-bg, .danger-btn {
  background-color: var(--danger-color);
}

.warning-bg, .warning-btn {
  background-color: var(--warning-color);
}

.disabled-bg, button:disabled {
  background-color: var(--disabled-color);
}

.light-gray-bg {
  background-color: var(--light-gray);
}

.primary-txt, .tabs .tab.current, input[type=text]:hover, input[type=text]:focus,
input[type=password]:hover,
input[type=password]:focus,
input[type=email]:hover,
input[type=email]:focus,
input[type=search]:hover,
input[type=search]:focus, a:visited, a {
  color: var(--primary-color);
}

.white-bg {
  color: var(--white-bg);
}

.secondary-txt {
  color: var(--secondary-color);
}

.success-txt, input[type=text].valid,
input[type=password].valid,
input[type=email].valid,
input[type=search].valid {
  color: var(--success-color);
}

.danger-txt, input[type=text].error,
input[type=password].error,
input[type=email].error,
input[type=search].error {
  color: var(--danger-color);
}

.warning-txt {
  color: var(--warning-color);
}

.heading-color, a:hover, h1,
h2,
h3,
h4,
h5 {
  color: var(--heading-color);
}

.paragraph-color, p {
  color: var(--paragraph-color);
}

.light-gray-color {
  color: var(--light-gray);
}

/* Color a utilizar cuando tengamos un fondo suave */
.over-light-color, button:disabled {
  color: var(--over-light-color);
}

.white-txt {
  color: var(--white-color);
}

/* SHADOWS */
.shadow {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.light-shadow {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.light-shadow-no-angle, .tabs {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.very-light-shadow, .circle, header {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
}

.title-font, h1,
h2,
h3,
h4,
h5 {
  font-family: "Rubik", sans-serif;
}

.regular-font, .tabs .tab, nav.menu ul li a, button, span, p, .card .price, body,
html {
  font-family: "Karla", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.wrapper {
  height: 100%;
  display: grid;
  grid-gap: 0;
  grid-template-areas: "main" "footer";
  grid-template-rows: minmax(0, 1fr) 60px;
}

main {
  grid-area: main;
  overflow: scroll;
}

footer {
  grid-area: footer;
}

/*
  Wrapper Header Content Footer 
*/
.wrapper-hcf {
  height: 100%;
  display: grid;
  grid-gap: 0;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 60px minmax(0, 1fr) 60px;
}
.wrapper-hcf header {
  grid-area: header;
}
.wrapper-hcf main {
  grid-area: main;
}
.wrapper-hcf footer {
  grid-area: footer;
}

header,
footer {
  z-index: 1000;
}

header {
  height: 60px;
}

main {
  overflow: scroll;
}

/** 
  Ancho máximo
*/
.max-width, .toolbar, .container {
  max-width: 100%;
}
@media (min-width: 1024px) {
  .max-width, .toolbar, .container {
    max-width: 1024px;
    margin: 0 auto;
  }
}

.container {
  padding: 12px;
}

.center-content {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}

.full-width {
  width: calc(100% - 16px);
}

.full-width-in {
  width: calc(100% - 20px * 2);
}

.half-width {
  width: 50%;
}

.space-evenly {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.space-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.circle {
  border-radius: 50%;
}

/* Lo recomendable es usar la card en un article */
.card {
  padding: 12px;
  margin: 8px;
  border-radius: 0.5rem;
  background: var(--card-color);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  width: calc(100% - 40px);
  /* La primera imagen debería ir antes del título */
  /*
    El título de la card debe ir en h2
  */
}
.card img {
  margin-left: -12px;
  margin-top: -12px;
  width: calc(100% + 24px);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.card .card-title {
  text-align: center;
  margin-top: 8px;
}
.card .card-title.left {
  text-align: center;
}
.card .price {
  text-align: right;
  color: #333;
  margin: 0;
}

h1,
h2,
h3,
h4,
h4,
h5 {
  padding: 8px;
  margin-bottom: 16px;
}

/* Paragraph */
p {
  padding: 8px;
  text-align: justify;
  margin-block-end: 8px;
  margin-block-start: 4px;
}

form p.danger-txt {
  padding-top: 0;
  margin-block-start: 0;
}

span {
  color: inherit;
}

.center {
  text-align: center;
}

input[type=text],
input[type=password],
input[type=email],
input[type=search] {
  outline: none;
  display: block;
  padding: 12px;
  margin: 8px;
  margin-bottom: 16px;
  border-radius: 0.5rem;
  color: #afafaf;
  border: 2px solid #f0f0f0;
  background: #ffffff;
}
input[type=text]::placeholder,
input[type=password]::placeholder,
input[type=email]::placeholder,
input[type=search]::placeholder {
  color: #afafaf;
}
input[type=text]:hover, input[type=text]:focus,
input[type=password]:hover,
input[type=password]:focus,
input[type=email]:hover,
input[type=email]:focus,
input[type=search]:hover,
input[type=search]:focus {
  border-color: var(--primary-color-transparent-05);
  -webkit-box-shadow: 0 0 0 4px var(--primary-color-transparent-01);
  box-shadow: 0 0 0 4px var(--primary-color-transparent-01);
}
input[type=text].valid,
input[type=password].valid,
input[type=email].valid,
input[type=search].valid {
  border-color: var(--success-color-transparent-05);
  -webkit-box-shadow: 0 0 0 4px var(--success-color-transparent-01);
  box-shadow: 0 0 0 4px var(--success-color-transparent-01);
}
input[type=text].error,
input[type=password].error,
input[type=email].error,
input[type=search].error {
  border-color: var(--danger-color-transparent-05);
  -webkit-box-shadow: 0 0 0 4px var(--danger-color-transparent-01);
  box-shadow: 0 0 0 4px var(--danger-color-transparent-01);
}

.search-container {
  width: 100%;
  display: flex;
  position: relative;
}
.search-container .search-icon {
  position: absolute;
  left: 16px;
  top: 14px;
  color: #afafaf;
}
.search-container input[type=search] {
  padding-left: 35.2px;
}

button {
  padding: 12px 18px;
  margin: 8px;
  border-radius: 0.5rem;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  outline: none;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  opacity: 0.8;
}

button:disabled:hover {
  opacity: 1;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v70/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format("woff2");
}
.mat-icon, .tabs .tab span {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

/*  MENU TODO: mover */
nav.menu ul {
  list-style: none;
  display: flex;
}
nav.menu ul li {
  list-style: none;
  margin-right: 1.5em;
}
nav.menu ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--heading-color);
  padding: 8px;
}
nav.menu ul li a:active {
  color: var(--danger-color);
}
nav.menu ul li a:hover {
  background-color: var(--heading-color);
  color: white;
  border-radius: 0.5rem;
}

/* TABS */
.tabs {
  display: flex;
  align-content: space-around;
  color: var(--heading-color);
  /* TODO: review color */
  height: 100%;
}
.tabs .tab {
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
}
.tabs .tab div {
  text-align: center;
}
.tabs .tab span {
  width: 24px;
  text-align: center;
  overflow: hidden;
  font-size: 20px;
}

.toolbar {
  height: 60px;
  display: grid;
  grid-gap: 0;
  grid-template-areas: "left middle right";
  grid-template-columns: 60px minmax(0, 1fr) 60px;
}
.toolbar .left {
  grid-area: left;
}
.toolbar .middle {
  grid-area: middle;
}
.toolbar .right {
  grid-area: right;
}
.toolbar .left,
.toolbar .middle,
.toolbar .right {
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  background-color: black;
  color: white;
}

/*# sourceMappingURL=index.css.map */
