/* COLORS HELPERS */
.primary-bg {
    background-color:  $primary-color ;
}

.secondary-bg {
    background-color:  $secondary-color ;
}

.success-bg {
    background-color:  $success-color ;
}

.danger-bg {
    background-color:  $danger-color ;
}

.warning-bg {
    background-color:  $warning-color ;
}

.disabled-bg {
    background-color:  $disabled-color ;
}

.primary-txt {
    color:  $primary-color ;
}

.secondary-txt {
    color:  $secondary-color ;
}

.success-txt {
    color:  $success-color ;
}

.danger-txt {
    color:  $danger-color ;
}

.warning-txt {
    color:  $warning-color ;
}

.heading-color {
    color:  $heading-color ;
}

.paragraph-color {
    color:  $paragraph-color ;
}


/* Color a utilizar cuando tengamos un fondo suave */
.over-light-color {
    color:  $over-light-color ;
}
