/* COLORS HELPERS */
.primary-bg {
    background-color: var(--primary-color);
}

.secondary-bg {
    background-color: var(--secondary-color);
}

.success-bg {
    background-color: var(--success-color);
}

.danger-bg {
    background-color: var(--danger-color);
}

.warning-bg {
    background-color: var(--warning-color);
}

.disabled-bg {
    background-color: var(--disabled-color);
}

.light-gray-bg {
    background-color: var(--light-gray);
}

.primary-txt {
    color: var(--primary-color);
}

.white-bg {
    color: var(--white-color);
}

.secondary-txt {
    color: var(--secondary-color);
}

.success-txt {
    color: var(--success-color);
}

.danger-txt {
    color: var(--danger-color);
}

.warning-txt {
    color: var(--warning-color);
}

.heading-color {
    color: var(--heading-color);
}

.paragraph-color {
    color: var(--paragraph-color);
}

.light-gray-color {
    color: var(--light-gray);
}

/* Color a utilizar cuando tengamos un fondo suave */
.over-light-color {
    color: var(--over-light-color);
}

.white-txt {
    color: var(--white-color);
}
