/* SHADOWS */
.shadow {
    box-shadow: 0 2px 2px $light-shadow;
}
  
.light-shadow {
    box-shadow: 0 2px 2px $light-shadow;
}

.light-shadow-no-angle {
    box-shadow: 0 0 2px $light-shadow;
}

.very-light-shadow {
    box-shadow: 0 2px 2px $very-light-shadow;
}
  
  
  